@charset "UTF-8";

#attendance_box {
  background: #FFF;
  border: 1px solid #333;
  box-shadow: 0 10px 10px #999;
  display: block;
  font-family: serif;
  padding: 10px;
  position: absolute;
  top: 0px;
  text-align: center;
  float: left;
  width: 100%;
  height: 120%;
  z-index: 100;
  margin:auto;
  opacity: 0;
  animation: popaimation 0.3s;
  animation-fill-mode: forwards;
}

@keyframes popaimation {
        100%{
            opacity: 1;
       	}
}

.scroll_table {
  height: calc(160vh / 2); /* スクロール用の高さ */
  overflow-y: auto; /* スクロールを有効に */
  border: 1px solid #ccc;
  width: 50%;
  margin: 0 auto; /* テーブル全体を中央に配置 */
}

.headword {
  position: sticky;
  top: 0;
  color: #fff;
  background: #333;
  white-space: nowrap;
  padding: 10px 15px; /* 余白を設定して文字が詰まらないようにする */
  z-index: 1; /* スクロール時に他の要素の下に隠れないよう設定 */
  text-align: center; /* 見出しの文字を中央揃え */
}

.scroll_table table {
  width: 100%; /* テーブルの幅をコンテナに合わせる */
  border-collapse: collapse;
}

h1 {
	margin-left:10% ;
}

#attendance_box_back{
	background: #333;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	float: left;
	width: 100%;
	height: 200%;
	z-index: 80;
	display: block;
}

/*デザイン用(最終修正用)*/
.attendance_list_iframe_text{
	margin-top: 50px;
	margin-left: 20px;
}
.attendance_list_iframe{
	margin-left: 20px;
	width: 400px;
	border: 1px solid #333;
	border-radius:10px;
}