@charset "UTF-8";

#attendance_box {
  background: #FFF;
  border: 1px solid #333;
  box-shadow: 0 10px 10px #999;
  display: block;
  font-family: serif;
  padding: 10px;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 1040px;
  height: 550px;
  z-index: 100;
  opacity: 0;
  animation: popaimation 0.3s;
  animation-fill-mode: forwards;
  border-radius: 50px;
  overflow: auto hidden;
}
.not_attendance_stu_box{
	width: 1040px;
	height: 400px;
	overflow-x: hidden;
  	overflow-y: auto;
}
.not_attendance_stu_box::-webkit-scrollbar {
    width: 8px; /* スクロールバーの幅 */
}
.not_attendance_stu_box::-webkit-scrollbar-thumb {
    background-color: #888; /* スクロールバーの色 */
    border-radius: 10px; /* 角丸 */
     height:50px;
}

.not_attendance_stu_box::-webkit-scrollbar-track {
    background-color: white; /* スクロールバーのトラック部分 */
    border-radius: 10px; /* 角丸 */
}

@keyframes popaimation {
        100%{
            opacity: 1;
       	}
}

.scroll_table {
  height: calc(160vh / 2); /* スクロール用の高さ */
  overflow-y: auto; /* スクロールを有効に */
  border: 1px solid #ccc;
  width: 50%;
  margin: 0 auto; /* テーブル全体を中央に配置 */
}

.headword {
  position: sticky;
  top: 0;
  color: #fff;
  background: #333;
  white-space: nowrap;
  padding: 10px 15px; /* 余白を設定して文字が詰まらないようにする */
  z-index: 1; /* スクロール時に他の要素の下に隠れないよう設定 */
  text-align: center; /* 見出しの文字を中央揃え */
}

.scroll_table table {
  width: 100%; /* テーブルの幅をコンテナに合わせる */
  border-collapse: collapse;
}

h1 {
	margin-left:10% ;
}

#attendance_box_back{
	background: #333;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	float: left;
	width: 100%;
	height: 200%;
	z-index: 80;
	display: block;
}

/*デザイン用(最終修正用)*/
.attendance_list_iframe_text{
	margin-top: 50px;
	margin-left: 10px;
}
.attendance_list_iframe{
	width: 408px;
	border: 1px solid #333;
	border-radius:10px;
}
.attendance_inner_list_head{
	width: 399px;
	background-color: antiquewhite;
	border-bottom:1px solid #333;
	border-right: 1px solid #333;
	text-align: center;
}
.attendance_inner_list_body{
	width: 399px;
	border-bottom:1px solid #333;
	border-right: 1px solid #333;
	text-align: center;
}
.attendance_inner_list_name{
	display: inline-block;
	border-right: 1px solid #333;
	width: 300px;
}
.attendance_inner_list_kind{
	display: inline-block;
	width: 90px;
}

.not_attendance_stu_tags{
	margin:10px 0 10px 0;
	text-align: center;
}
.not_attendance_stu_head{
	width:1040px;
	background-color: antiquewhite;
	border-bottom:1px solid #333;
	text-align: center;
	margin-top:10px;
}
.not_attendance_stu_body{
	width: 1040px;
	border-bottom:1px solid #333;
	text-align: center;
}
.not_attendance_stu_radio{
	display: inline-block;
	border-right: 1px solid #333;
	width: 100px;
}
.not_attendance_stu_id{
	display: inline-block;
	border-right: 1px solid #333;
	width: 150px;
}
.not_attendance_stu_name{
	display: inline-block;
	width: 400px;
}