@charset "UTF-8";

.my_management_iframe{
	width: 	509px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid #333;
	margin-bottom: 10px;
}
.my_management_iframe_teacher{
	width: 	509px;
	height: 400px;
	border-radius: 10px;
	border: 1px solid #333;
	margin-bottom: 10px;
}

.my_management_submission_area{
	width: 509px;
	position: absolute;
	top: 70px;
	right: 40px;
}

.my_management_submission_area h3{
	text-align: center;
	font-size: 25px;
	margin-bottom: 5px;
}
.my_management_submission_area a{
	margin-left: 310px;
}

.my_management_attendance_area{
	width: 500px;
	position: absolute;
	top: 390px;
	right: 40px;
}
.my_management_attendance_area h3{
	text-align: center;
	font-size: 25px;
	margin-bottom: 5px;
}
.my_management_attendance_area p{
	text-align: center;
}
.my_management_attendance_area span{
	font-size: 30px;
	margin-left: 10px;
}

.my_management_schedule_area{
	width: 500px;
	position: absolute;
	top: 70px;
	left: 40px;
}
.my_management_schedule_iframe{
	width: 	500px;
	height: 500px;
	border-radius: 10px;
	border: 1px solid #333;
	margin-bottom: 10px;
	max-height: 350px;
}
.my_management_schedule_iframe::-webkit-scrollbar {
    width: 8px; /* スクロールバーの幅 */
}
.my_management_schedule_iframe::-webkit-scrollbar-thumb {
    background-color: #888; /* スクロールバーの色 */
    border-radius: 10px; /* 角丸 */
     height:50px;
}

.my_management_schedule_iframe::-webkit-scrollbar-track {
    background-color: #f8f8f8; /* スクロールバーのトラック部分 */
    border-radius: 10px; /* 角丸 */
}
.my_management_schedule_area h3{
	text-align: center;
	font-size: 25px;
	margin-bottom: 5px;
}
.my_management_schedule_none{
	width: 500px;
}
.my_management_schedule_none p{
	text-align: center;
	font-size: 20px;
}
.my_management_schedule{
	width: 500px;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
}
.my_management_schedule h2{
	border-left: 10px solid #333;
	margin-left: 10px;
	padding-left: 10px;
}
.my_management_schedule p{
	margin-left: 10px;
}
#my_management_schedule_data{
	margin-left: 10px;
	font-size: 15px;
	font-weight: bold;
}
#my_management_schedule_content{
	margin-left: 20px;
}


/*教師の奴*/
.my_management_inner_content{
	margin:0 auto;
}
.my_submissions_teacher_inner_head{
	background-color: antiquewhite;
	width: 500px;
	text-align: center;
	border-bottom:1px solid #333;
	border-right: 1px solid #333;
}
.my_submissions_teacher_inner_body{
	width: 500px;
	text-align: center;
	border-bottom:1px solid #333;
	border-right: 1px solid #333;
}
.my_submissions_teacher_inner_name{
	display: inline-block;
	width: 230px;
	border-right:1px solid #333;
}
.my_submissions_teacher_inner_limit{
	display: inline-block;
	width: 130px;
	border-right:1px solid #333;
}
.my_submissions_teacher_inner_submit{
	display: inline-block;
	width: 120px;
}