@charset "UTF-8";

#delete_box {
  background: #FFF;
  border: 1px solid #333;
  box-shadow: 0 10px 10px #999;
  display: none;
  font-family: serif;
  padding: 10px;
  position: absolute;
  top: 0px;
  text-align: center;
  float: left;
  width: 100%;
  height: 120%;
  margin:auto;
  opacity: 0;
  animation: popaimation 0.3s;
  animation-fill-mode: forwards;
  z-index: 100;
}

@keyframes popaimation {
        100%{
            opacity: 1;
       	}
}

.timetable_box{
	border: 1px solid #333;
	display: inline-block;
	margin: 5px;
}

.item {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: #add8e6;
    color: black;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    cursor: pointer;
 }

  /* 詳細設定エリアのスタイル */
  .detail-settings {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .detail-settings label, .detail-settings select, .detail-settings input {
    display: block;
    margin-bottom: 10px;
  }