@charset "UTF-8";

.teacher_top{
	font-size: 50px;
    margin-top: -50px;
    text-align: center;

}

.center-text {
    text-align: center;
}

.teacher_function_icon img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    width: 120px;    
    height: 120px;
}	

#registration {
    position: absolute;
    left: 210px; 
    top: 150px; 
}

#confirmation {
    position: absolute;
    left: 350px; 
    top: 150px; 	
}

#Subjectlisttop {
    position: absolute;
    left: 490px; 
    top: 150px; 	
}

#template {
    position: absolute;
    left: 630px; 
    top: 150px; 		
}

#attendance {
    position: absolute;
    left: 770px; 
    top: 150px; 	
}

#timetable {
    position: absolute;
    left: 210px; 
    top: 330px; 	
}

#authority {
    position: absolute;
    left: 350px; 
    top: 330px; 		
}

#student {
    position: absolute;
    left: 490px; 
    top: 330px; 	
}

#group {
    position: absolute;
    left: 630px; 
    top: 330px; 	
}

#grade {
	position: absolute;
    left: 770px; 
    top: 330px; 
}

.back_button img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 60px;    
    height: 60px;

}
.back_button {
    position: absolute;	
	left: 30px;
    top: 510px;
}

.teacher_registration {
	display: flex;
    flex-wrap: wrap;
	position: absolute;	
	left: 900px;
    top: 530px
}

#delete_box {
  background: #FFF;
  border: 1px solid #333;
  box-shadow: 0 10px 10px #999;
  display: none;
  font-family: serif;
  padding: 10px;
  position: absolute;
  top: 0px;
  text-align: center;
  float: left;
  width: 100%;
  height: 120%;
  margin:auto;
  opacity: 0;
  animation: popaimation 0.3s;
  animation-fill-mode: forwards;
  z-index: 100;
}
.subject_delete_mes{
	font-size: 30px;
	color: red;
	margin-top: 200px;
}
#subject_next_button{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 340px;
	left: 150px;
	background-color: crimson;
	border: 2px solid #333;
	border-radius: 20px;
	font-size: 40px;
	color: white;
}

#subject_close_button{
	position: absolute;
	width: 300px;
	height: 100px;
	top: 340px;
	right: 150px;
	background-color: chartreuse;
	border: 2px solid #333;
	border-radius: 20px;
	font-size: 40px;
	color: white;
}
@keyframes popaimation {
        100%{
            opacity: 1;
       	}
}

.timetable_box{
	border: 1px solid #333;
	display: inline-block;
	margin: 5px;
}

.item {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 5px;
    background-color: #add8e6;
    color: black;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    cursor: pointer;
 }

  /* 詳細設定エリアのスタイル */
  .detail-settings {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }

  .detail-settings label, .detail-settings select, .detail-settings input {
    display: block;
    margin-bottom: 10px;
  }
  
.template_button{
	background-color: #add8e6;
	width: 70px;
	height: 50px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container table {
    margin-bottom: 20px; 
}

.teacher_link {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.teacher_function_iocn {
    display: flex;
    gap: 100px; /* リンク間のスペースを調整 */
}

.teacher_function_iocn a {
    display: flex;
    border-radius: 10px; 
} 

.delete {
	margin-left: -90%;
}

/*
.iframe {
  width: 95%; 
  border-collapse: collapse;
  text-align: center;
  height: 100%;
  vertical-align: middle;
  padding: 0 15px;
  border: 1px solid #ccc;
}
*/