@charset "UTF-8";

body,html {
    -ms-overflow-style: none; /* IEとEdge */
    scrollbar-width: none; /* Firefox */
    margin:0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none; /* Webkitブラウザ */
}
.menu_links:link{
	color: #333;
}
.menu_links:visited{
	color: rgb(85, 85, 85);
}
.menu_links:hover{
	font-weight: bold;
}

.menu_var{
	position: absolute;
	right: 3%;
	top: 0%;
	width: 100px;
	z-index: 60;
}

#menu_box{
	background: #FFF;
	border: 1px solid #333;
	box-shadow: 0 10px 10px #999;
	display: none;
	font-family: serif;
	padding: 10px;
	position: fixed;
	top: 0px;
	text-align: center;
	float: left;
	width: 20%;
	height: 120%;
	z-index: 100;
	margin-left: 980px;
}

#menu_box_back{
	background: #333;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	text-align: center;
	float: left;
	width: 100%;
	height: 200%;
	z-index: 80;
	display: none;
}


.menu_box_contents{
	border-bottom: #333 1px solid;
	height: 45px;
	padding-top: 20px;
}
.menu_box_contents a{
	text-decoration: none;
	
}

.main_image{
	position: absolute;
    top: -170px;
    left: -65px;
    width: 650px;
}
.top_down_content{
	position: absolute;
	top: 300px;
    left: 0px;
}
.top_main_function_icon{
	width: 600px;
	margin-bottom: 50px;
}
.top_links_contents{
	display: inline-block;
	position: relative;
	width: 100px;
}
.top_links_contents_title1{
	position: absolute;
	font-weight: bold;
	top:75px;
	left: 22px;
}
.top_links_contents_title2{
	position: absolute;
	font-weight: bold;
	top:75px;
	left: 8px;
}
.top_links_contents_title3{
	position: absolute;
	font-weight: bold;
	top:75px;
	left: 8px;
}
.top_links_contents_title4{
	position: absolute;
	font-weight: bold;
	top:75px;
	left: 0px;
}
.top_links_contents_title5{
	position: absolute;
	font-weight: bold;
	top:75px;
	left: 17px;
}

.teacher_top_icon{
	width: 80px;
	border-radius: 50px;
}
.my_management_top_icon{
	width: 80px;
	border-radius: 50px;
}
.top_critical_function_icon{
	position: absolute;
	width:500px;
	top: 140px;
	right: -585px;
}
.top_critical_function_contents{
	display: inline-block;
	position: relative;
	width: 160px;
}
.top_logout_icon{
	width: 60px;
	border-radius: 50px;
}
.top_logout_mes{
	position: absolute;
	font-weight: bold;
	top: 4px;
	left: 60px;
}
.top_contact_icon{
	width: 60px;
	border-radius: 50px;
}
.top_contact_mes{
	position: absolute;
	font-weight: bold;
	top: 4px;
	left: 60px;
}


/* カレンダー機能系のCSS */
.cal-area {
    width: 385px;
    position: absolute;
    top: 15px;
    right: -30px;
}

#calendar {
    width: 500px;
    height: 400px;
    position: absolute;
    right: -63px;
    top: 0px;
}
#calendar h1 {
    margin-bottom: 10px;
    margin-left:56px;
}

.actions {
    width: 300px;
    margin: 0 0 0 127px;
    position: relative;
}

#calendar table{
    width: 320px;
    border-collapse:  collapse;
    text-align: center;
    border: #333 solid 1px;
}

.table-title {
    background-color: #f9fffd;
}

#calendar tr{
	height: 50px;
}
#calendar th,td {
    border: #333 solid 1px;
    padding: 10px;
}
.ex_td {
    color: darkgray;
    opacity: 0.5;
}

#calendar table .normal:first-child{
    color: red;
}
#calendar table .normal:last-child{
    color: blue;
}

.cal_button_image_last{
	width: 40px;
	position: absolute;
	left: -97px;
	top: 0px;
}
.cal_button_image_next{
	width: 40px;
	position: absolute;
	left: -20px;
	top: 0px;
}
#last-button {
    width: 100px;
    padding: 10px;
    border: none;
    background:none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: -80px;
}
#next-button {
    width: 100px;
    padding: 10px;
    border: none;
    background:none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 80px;

}