@charset "UTF-8";

body,html {
    -ms-overflow-style: none; /* IEとEdge */
    scrollbar-width: none; /* Firefox */
    margin:0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none; /* Webkitブラウザ */
}
.menu_links:link{
	color: #333;
}
.menu_links:visited{
	color: rgb(85, 85, 85);
}
.menu_links:hover{
	font-weight: bold;
}

.menu_var{
	position: absolute;
	right: 3%;
	top: 0%;
	width: 100px;
}

#menu_box{
	background: #FFF;
	border: 1px solid #333;
	box-shadow: 0 10px 10px #999;
	display: none;
	font-family: serif;
	padding: 10px;
	position: fixed;
	top: 0px;
	text-align: center;
	float: left;
	width: 20%;
	height: 120%;
	z-index: 100;
	margin-left: 980px;
	opacity: 0;
	animation: popaimation 0.3s;
	animation-fill-mode: forwards;
}

#menu_box_back{
	background: #333;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	text-align: center;
	float: left;
	width: 100%;
	height: 200%;
	z-index: 80;
	display: none;
}
@keyframes popaimation {
        100%{
            opacity: 1;
       	}
}
.menu_box_contents{
	border-bottom: #333 1px solid;
	height: 45px;
	padding-top: 20px;
}
.menu_box_contents a{
	text-decoration: none;
	
}

.main_image{
	position: absolute;
    top: -60px;
    left: 100px;
    width: 400px;
}
.top_down_content{
	position: absolute;
	top: 300px;
    left: 0px;
}

.cal-area {
    width: 420px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#calendar {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 0px;
    top: 0px;
}
#calendar h1 {
    margin-bottom: 10px;
    margin-left:110px;
}

.actions {
    width: 300px;
    margin: 0 0 0 127px;
}

#calendar table{
    width: 420px;
    border-collapse:  collapse;
    text-align: center;
    border: #333 solid 1px;
}

.table-title {
    background-color: #f9fffd;
}

#calendar th,td {
    border: #333 solid 1px;
    padding: 10px;
}
.ex_td {
    color: darkgray;
    opacity: 0.5;
}

#calendar table .normal:first-child{
    color: red;
}
#calendar table .normal:last-child{
    color: blue;
}


#last-button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #ffcf32;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 25px;
    left: -80px;
}
#last-button:hover {
    transition: all 0.5s;
    background-color: #8c35ff;
}
#next-button {
    width: 100px;
    padding: 10px;
    border: none;
    background-color: #3236ff;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 25px;
    right: 80px;

}
#next-button:hover {
    transition: all 0.5s;
    background-color: #10e548;
}